@using EntitiyLayer.Concreate

@{
    ViewData["Title"] = "AddSkill";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Proje Ekleme Formu</h4>
<form method="post" class="m-5">
    <label> Yetenek Başlığı</label>
    <input type="text" name="Title" class="form-control"/>
    <label class="mt-3"> Seviye </label>
    <input type="text" name="Value" class="form-control" />
    <button href="#" class="btn btn-success mt-3">Ekle </button>
</form>

        </div>

    </div>

</div>
